<ng-container *ngIf="results; then complete; else empty"></ng-container>

<ng-template #empty>
  <ngb-alert [type]="'danger'">we are nothing to propose !</ngb-alert>
</ng-template>

<ng-template #complete>
  <table class="table table-striped text-white">
    <thead>
    <tr>
      <th>Country</th>
      <th>Language</th>
      <th>Name</th>
      <th>Overview</th>
      <th>Rating</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of results.translations">
      <td>{{ item?.iso_3166_1}}</td>
      <td>{{ item.english_name}}</td>
      <td>
        <ng-container *ngIf="item?.data.name; then hasName else emptyName">
        </ng-container>
        <ng-template #hasName>
          {{ item?.data.name }}
        </ng-template>
        <ng-template #emptyName>
          N/D
        </ng-template>
      </td>
      <td>
        <ng-container *ngIf="item?.data.overview; then hasOverview else emptyOverview"></ng-container>
          <ng-template #hasOverview>
            {{ item?.data.overview }}
          </ng-template>
          <ng-template #emptyOverview>
            No description
          </ng-template>
      </td>
      <td *ngIf="item?.iso_3166_1">
        {{ getRating(item?.iso_3166_1) }}
      </td>
    </tr>
    </tbody>

  </table>
</ng-template>

