<ng-container *ngIf="(this.tvShow$ | async) && loadingComponent === true; then pushed; else loading"></ng-container>

<ng-template #loading>
  <div class="m-5">
    <span class="alert alert-warning">
      downloading data ! Please wait
    </span>
  </div>
</ng-template>

<ng-template #pushed>
  <section>
    <h3>Overview</h3>
    <p class="overview">{{ (this.tvShow$ | async)?.overview }}</p>
  </section>

  <section *ngIf="(this.tvShow$ | async)?.seasons">
    <h3>Seasons</h3>
    <div class="row">
      <div class="season col-12 col-sm-6 col-md-5 col-lg-3 col-xl-2 text-center mb-2"
           *ngFor="let season of (this.tvShow$ | async)?.seasons | slice:1:(this.tvShow$ | async)?.seasons.length">
        <img [src]="imagesLinks + 'w154' + season?.poster_path" [alt]="'poster of ' + (this.tvShow$ | async)?.name">
        <h3 class="h5">{{season?.name}}</h3>
        <p class="font-italic">{{season?.episode_count}} episodes</p>
        <p><small>Started at <span class="font-weight-lighter">{{ season?.air_date }}</span></small></p>
      </div>
    </div>
  </section>

  <section>
    <h3>Episodes</h3>
    <section *ngIf="(this.tvShow$| async)?.last_episode_to_air !== null">
      <div class="card episode-card" [ngStyle]="{
              'background-image': 'url(' + this.imagesLinks + 'original' + (this.tvShow$| async)?.last_episode_to_air.still_path + ')',
              'background-size' : 'cover' }">
        <div class="card-header">
          <b>Last episode</b> -
          <small>{{(this.tvShow$| async)?.last_episode_to_air.air_date | amTimeAgo}}</small>
        </div>
        <div class="card-body">
          <h3>[S{{ (this.tvShow$| async)?.last_episode_to_air.season_number }}
            ep. {{ (this.tvShow$| async)?.last_episode_to_air.episode_number }}
            ] {{ (this.tvShow$| async)?.last_episode_to_air.name }}</h3>

          <p>{{(this.tvShow$| async)?.last_episode_to_air.overview}}</p>
        </div>
        <div class="card-footer">
          <section class="row">
            <div class="col-12 col-md-2 text-center">
              <b class="h2">{{(this.tvShow$| async)?.last_episode_to_air.vote_count}}</b>
              <p>Vote count</p>
            </div>
            <div class="col-12 col-md-3 text-center">
              <b class="h2">{{(this.tvShow$| async)?.last_episode_to_air.vote_average  | number:'0.0-1'}}</b>
              <p>Vote average</p>
            </div>
          </section>
        </div>
      </div>
    </section>
    <section *ngIf="(this.tvShow$| async)?.next_episode_to_air !== null">
      <div class="card episode-card" [ngStyle]="{
              'background-image': 'url(' + this.imagesLinks + 'original' + (this.tvShow$| async)?.next_episode_to_air.still_path + ')',
              'background-size' : 'cover' }">
        <div class="card-header">
          <b>Next episode</b> -
          <small>{{(this.tvShow$| async)?.next_episode_to_air.air_date | amTimeAgo}}</small>
        </div>

        <div class="card-body">
          <h3>[S{{ (this.tvShow$| async)?.next_episode_to_air.season_number }}
            ep. {{ (this.tvShow$| async)?.next_episode_to_air.episode_number }}]
            {{ (this.tvShow$| async)?.next_episode_to_air.name }}</h3>
          <p>{{(this.tvShow$| async)?.next_episode_to_air.overview}}</p>
        </div>

        <div class="card-footer">
          <section class="row">
            <div class="col-12 col-md-2 text-center">
              <b class="h4">{{(this.tvShow$| async)?.next_episode_to_air.vote_count}}</b>
              <p>Vote count</p>
            </div>
            <div class="col-12 col-md-3 text-center">
              <b class="h4">{{(this.tvShow$| async)?.next_episode_to_air.vote_average | number: '0.0-1'}}</b>
              <p>Vote average</p>
            </div>
          </section>
        </div>

      </div>
    </section>
  </section>
</ng-template>

