<section *ngIf="onAir" class="text-center">
  <h2>{{ onAir?.name }}</h2>
  <div [ngStyle]="{'background-color': 'black'}">
    <youtube-player [videoId]="onAir.key" [suggestedQuality]="quality(onAir.size)"></youtube-player>
  </div>

</section>

<section>
  <ul class="list-group list-group-flush">
    <li class="list-group-item bg-transparent d-flex justify-content-between"
        *ngFor="let item of (this.videos$ | async)?.results">
      <div>
        <i [ngClass]="getTag(item?.type)" class="mr-3">{{ item?.type }}</i>
        <b class="mr-3">{{ item?.name }}</b>
        <i class="badge badge-light">{{ item?.iso_639_1 | replaceBy:this.language:'alpha2':'English' }} only</i>
      </div>
      <button class="btn btn-sm btn-primary" (click)="change(item)">Watch</button>
    </li>
  </ul>
</section>




