<section *ngIf="onAir" class="text-center">
  <h2>{{ onAir?.name }}</h2>
  <div [ngStyle]="{'background-color': 'black'}">
    <youtube-player [videoId]="onAir.key" [suggestedQuality]="quality(onAir.size)"></youtube-player>
  </div>

</section>

<section>
  <ul class="list-group list-group-flush">
    <li class="list-group-item bg-transparent d-flex justify-content-between"
        *ngFor="let item of (this.videos$ | async)?.results">
      <span><b>{{ item?.name }}</b> - <i [ngClass]="getTag(item?.type)">{{ item?.type }}</i> - [{{ item?.iso_639_1 }}
        -{{item?.iso_3166_1}}]</span>
      <button class="btn btn-sm btn-primary" (click)="change(item)">Watch</button>
    </li>
  </ul>
</section>




