/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/scss/bootstrap-grid';

html {
  scroll-behavior: smooth;
}

body {
  background-color: #343a40;
  color: white;
}

input.form-control {
  background-color: #343a40;
  color: white;
  &:focus {
    background-color: #6c757d;
    color: #343a40;
  }
}

.carousel-indicators {
  background-color: #343a40;
  margin-left: 40%;
  margin-right: 40%;
}

.carousel-caption {
  background-color: #343a40;
  bottom: 15px;
  margin: auto 15%;
  padding: 10px 10px 20px 10px;
}

.full-width {
  width: 100vw;
  object-fit: cover;
}

.popular-person-name {
  min-height: 1rem;
}

.vh-85 {
  height: 85vh;
}

.fa-venus {
  color: #e83e8c;
}

.fa-mars {
  color: #007bff;
}
// Card columns by defaults
.card-columns {
  @include media-breakpoint-only(xs) {
    column-count: 1;
  }

  @include media-breakpoint-only(sm) {
    column-count: 2;
  }

  @include media-breakpoint-only(md) {
    column-count: 3;
  }

  @include media-breakpoint-only(lg) {
    column-count: 4;
  }
  @include media-breakpoint-only(xl) {
    column-count: 5;
  }
}

.images {

  & .card-columns {
    @include media-breakpoint-only(xs) {
      column-count: 1;
    }

    @include media-breakpoint-only(sm) {
      column-count: 2;
    }

    @include media-breakpoint-only(md) {
      column-count: 3;
    }

    @include media-breakpoint-only(lg) {
      column-count: 4;
    }
    @include media-breakpoint-only(xl) {
      column-count: 4;
    }
  }
}
