/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/scss/bootstrap-grid';

body {
  background-color: #343a40;
  color: white;
}

input.form-control {
  background-color: #343a40;
  color: white;
  &:focus {
    background-color: #6c757d;
    color: #343a40;
  }
}

.full-width {
  width: 100vw;
  object-fit: cover;
}

.vh-85 {
  height: 85vh;
}

.card-columns {
  @include media-breakpoint-only(xs) {
    column-count: 1;
  }

  @include media-breakpoint-only(sm) {
    column-count: 1;
  }

  @include media-breakpoint-only(md) {
    column-count: 2;
  }

  @include media-breakpoint-only(lg) {
    column-count: 3;
  }
  @include media-breakpoint-only(xl) {
    column-count: 4;
  }
}
