<section class="pb-5" *ngIf="this.tvShow$ | async">
  <img [src]="imagesLinks + 'original' + (this.tvShow$ | async)?.backdrop_path" [alt]="'backdrop ' +  (this.tvShow$ | async)?.name"
       class="full-width vh-85">
  <div class="container main bg-dark rounded py-3">
    <h1>{{ (this.tvShow$ | async)?.name }}</h1>
    <div class="d-flex justify-content-start align-items-center mb-4">
      <h2>{{ (this.tvShow$ | async)?.original_name}}</h2>
      <ng-container *ngIf="(tvShow$ | async)?.status === 'Ended'; then endedStatus; else otherStatus"></ng-container>

      <ng-template #endedStatus>
        <span class="badge badge-danger ml-3">{{ (this.tvShow$ | async)?.status }}</span>
      </ng-template>

      <ng-template #otherStatus>
        <span class="badge badge-success ml-3">{{ (this.tvShow$ | async)?.status }}</span>
      </ng-template>
    </div>

    <app-tabset [justify]="'justified'" [id]="id" [tabs]="this.tabsOptions"></app-tabset>
  </div>
</section>

