<section class="pb-5" *ngIf="(this.tvShow$ | async)">
  <h1 class="main">{{ (this.tvShow$ | async)?.name }}</h1>
  <img [src]="imagesLinks + 'original' + (this.tvShow$ | async)?.backdrop_path"
       [alt]="'backdrop ' +  (this.tvShow$ | async)?.name"
       class="full-width vh-85">
  <div class="container py-3">
    <div class="row">
      <div class="col-12 col-lg-10">
        <app-tabset [justification]="'justified'" [id]="id" [tabsOptions]="this.tabsOptions"></app-tabset>
      </div>
      <aside class="col-12 col-lg-2 py-3 mt-xs-3 mt-sm-4 mt-md-5 mt-lg-0">
        <div>
          <strong>Original name:</strong>
          <p>{{ (this.tvShow$ | async)?.original_name}}</p>
        </div>

        <div>
          <p><strong>Status:</strong>
            <ng-container
              *ngIf="(tvShow$ | async)?.status === 'Ended'; then endedStatus; else otherStatus"></ng-container>
            <ng-template #endedStatus>
              <span class="badge badge-danger ml-3">{{ (this.tvShow$ | async)?.status }}</span>
            </ng-template>

            <ng-template #otherStatus>
              <span class="badge badge-success ml-3">{{ (this.tvShow$ | async)?.status }}</span>
            </ng-template>
          </p>
        </div>

        <div id="votes">
          <strong class="font-weight-bolder">Approved</strong>
          <p>
            {{ ((this.tvShow$ | async)?.vote_average | number: '0.1-1') * 10 }}%
            <small>({{ (this.tvShow$ | async)?.vote_count }} votes)</small>
          </p>
        </div>

        <div id="Genres" class="mb-4">
          <strong>Genres:</strong>
          <section class="d-flex flex-wrap">
                <span class="btn btn-sm btn-outline-light"
                      *ngFor="let genre of (this.tvShow$ | async)?.genres">
                  {{ genre.name }}
                </span>
          </section>
        </div>

        <div id="number-of-season">
          <b>{{ (this.tvShow$ | async)?.number_of_seasons }}</b> seasons
        </div>

        <div id="number-of-episode" class="mb-4">
          <b>{{ (this.tvShow$ | async)?.number_of_episodes }}</b> episodes
        </div>

        <div id="episode-run-time" *ngIf="(this.tvShow$ | async)?.episode_run_time">
          <strong>Episode duration:</strong>
          <ng-container *ngIf="(this.tvShow$ | async)?.episode_run_time.length > 1; else justOne">
            <p>{{ (this.tvShow$ | async)?.episode_run_time[0] }} and {{ (this.tvShow$ | async)?.episode_run_time[1] }}
              min.</p>
          </ng-container>
          <ng-template #justOne>
            <p>{{(this.tvShow$ | async)?.episode_run_time}}</p>
          </ng-template>
        </div>

        <div id="first-air-date">
          <strong>First air date</strong>
          <p>
            {{ (this.tvShow$ | async)?.first_air_date | date: 'd/MM/y' }} <br>
            <small>
              {{ (this.tvShow$ | async)?.first_air_date | amTimeAgo }}
            </small>
          </p>
        </div>

        <div id="last-air-date">
          <strong>Last air date</strong>
          <p>
            {{ (this.tvShow$ | async)?.last_air_date | date:'d/MM/y' }} <br>
            <small>{{ (this.tvShow$ | async)?.last_air_date | amTimeAgo  }}</small>
          </p>
        </div>

        <div id="original-countries" class="mb-4">
          <strong>Origin Country</strong>
          <div *ngFor="let country of (this.tvShow$ | async)?.origin_country
                   | replaceBy:this.countries:'ISO3166-1-Alpha-2': 'official_name_en' ">
            {{ country }}
          </div>
        </div>

        <div id="original-language">
          <strong>Original Language</strong>
          <p>
            {{ (this.tvShow$ | async)?.original_language | replaceBy:this.languages:'alpha2':'English'}}
          </p>
        </div>

        <section id="creator">
          <strong>Created by</strong>
          <div *ngFor="let creator of (this.tvShow$ | async)?.created_by">
            <img [src]="imagesLinks + 'w185' + creator.profile_path"
                 class="person-img"
                 src-fallback="assets/missing/person-missing_secondary.svg"
                 alt="{{ creator.name }}'s photo">
            <p class="text-center">{{ creator.name }}</p>
          </div>
        </section>

        <section id="production-companies" class="mt-3">
          <b>Production Companies</b>
          <div *ngFor="let company of (this.tvShow$ | async)?.production_companies">
            <img [src]="imagesLinks + 'w92' + company.logo_path"
                 src-fallback="{{ missingPlaceholder }}"
                 class="logo-detail"
                 alt="Logo {{ company.name }}">
            <p class="text-center">
              <ng-container *ngIf="company.origin_country; then origin; else isNull"></ng-container>
              <ng-template #origin>
                {{ company.name }} ({{ company.origin_country }})
              </ng-template>
              <ng-template #isNull>
                {{ company.name }}
              </ng-template>
            </p>
          </div>
        </section>
      </aside>
    </div>
  </div>
</section>

