.main {
  position: absolute;
  bottom: 75px;
  display: block;
  width: 100vw;
  padding: 2rem;
  background: rgba(52, 58, 64, .40);
  text-align: center;
}

.person-img {
  display: block;
  width: 100%;
}

aside {
  background: rgb(108, 117, 125);
  border-radius: 5px;
  min-height: 150px;
}
